doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='style.css')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap', rel='stylesheet')
.container
  .title
    h2 Hidden gems in Bangkok
  .container-content
    .container-items
      .item
        img.item-img(src='https://www.nomadicmatt.com/wp-content/uploads/2018/07/bangkok4top.jpg')
        .gradient-overlay
        .item-title
          h3 Bangkok Trip
          p 27 Sep, 2020
    .container-items
      .item
        img.item-img(src='https://www.civitatis.com/f/tailandia/bangkok/tour-gran-palacio-templos-bangkok-589x392.jpg')
        .gradient-overlay
        .item-title
          h3 Bangkok Trip
          p 27 Sep, 2020
    .container-items
      .item
        img.item-img(src='https://www.telegraph.co.uk/content/dam/Travel/Destinations/Asia/Thailand/Bangkok/bangkok-attractions-grand-palace.jpg?imwidth=680')
        .gradient-overlay
        .item-title
          h3 Bangkok Trip
          p 27 Sep, 2020
    .container-items
      .item
        img.item-img(src='https://www.telegraph.co.uk/content/dam/Travel/Destinations/Asia/Thailand/Bangkok/bangkok-attractions-grand-palace.jpg?imwidth=680')
        .gradient-overlay
        .item-title
          h3 Bangkok Trip
          p 27 Sep, 2020
