extends ./Views/layouts/dashboard
block main 
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, in ducimus labore nihil consequatur nobis aliquam, dolorem ipsum asperiores esse deleniti maxime blanditiis ipsam non aliquid cupiditate delectus fugiat excepturi?